<p style="color: red" *ngFor="let x of array;
                      let i=index;
                      let first_element=first;
                      let last=last;
                      let even=even;
                      let odd = odd">
  {{x}}...{{i}}...{{first_element}}...{{last}}...{{even}}...{{odd}}
</p>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>cost</th>
  </tr>

  <tr *ngFor="let x of array_two">
    <td>{{x.id}}</td>
    <td>{{x.name}}</td>
    <td>{{x.cost}}</td>
  </tr>
</table>
